include README.rst LICENSE
recursive-include djenerics/templates *.html
recursive-include djenerics/static *
recursive-include djenerics  *.py
recursive-exclude * .DS_Store
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
